# git ignore

# Output file.
utilisation.html

# Sqlite3 database containing user information.
*.db

# We ignore these.
pbs/pbs_ifl.h*

# These are created by swig and gcc
pbs.py
_pbs.so
pbs_wrap.c

# Created when python runs
*.pyc

